@charset "utf-8";

*{
    box-sizing:border-box;
    margin-top: 5%;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form input[type="text"], input[type="email"]{
	width:180px;
	padding:px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"], input[type="reset"]{
	width:100%;
	padding:8px 16px;
	margin-top:12px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover, input[type="reset"]:hover{
	cursor:pointer;
    background-color: rgb(76, 195, 211);
}

h1{
    text-align: center;
    font-size: 15px;
    color: rgb(76, 195, 211);
}   